<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Forever</title>
    <%- include('./style'); %>

</head>

<body>
    <div class="container">
        <div class="box1">
            <div class="serach">
                <form action="/search" method="post">
                    <input type="text" name="city" id="city">
                    <button class="btn">search</button>
                </form>
            </div>
            <div class="city_flex">
                <div id="city-name">
                    <div class="cityname heading">
                        <%= cityname %>
                    </div>
                    <div class="countyname sub-heading">
                        <%= country %>
                    </div>
                </div>
                <div class="temperaure heading blue">
                    <%= temp %> <sup>o</sup>C
                        <div class="desc">
                            <%= weather %>
                        </div>
                </div>
            </div>
            <div class="info-main">
                <div class="info">
                    <div class="info-icon"><img src="./barometer.png" alt=""></div>
                    <div class="info-heading text blue">Pressure</div>
                    <div class="info-value text">
                        <%= pressure %>
                    </div>
                    <div class="unit">Pascal</div>
                </div>
                <div class="info">
                    <div class="info-icon"><img src="./humidity.png" alt=""></div>
                    <div class="info-heading text blue">Humidity</div>
                    <div class="info-value text">
                        <%= humidity %>
                    </div>
                    <div class="unit">%</div>
                </div>
                <div class="info">
                    <div class="info-icon"><img src="./wind.png" alt=""></div>
                    <div class="info-heading text blue">Wind</div>
                    <div class="info-value text">
                        <%= wind %>
                    </div>
                    <div class="unit">kmph</div>
                </div>
                <div class="info">
                    <div class="info-icon"><img src="./rain.png" alt=""></div>
                    <div class="info-heading text blue">Visibility</div>
                    <div class="info-value text">
                        <%= visibility %>
                    </div>
                    <div class="unit">&nbsp;</div>

                </div>
            </div>
        </div>
    </div>
</body>

</html>
